<h3><em>Make the special day perfect with our expert bridal artists.</em></h3>
<div class="small-7 columns">
  <p>Your wedding day is one of the most important days of your life. Burnt District stylists will make sure you have the hair and makeup to match the occasion.</p>
</div>

<div class="small-5 columns">
  <ul>
    <li>Bridal Hair (includes trial)   160</li>
    <li>Brides Maids Special Occasion Hair   100</li>
    <li>Bridal Makeup (includes trial and faux lashes)   100 </li>
  </ul>
</div>
