
<div class="service-explanation">
  <h3>Make the special day perfect with our expert bridal artists.</h3>
  <p>Your wedding day is one of the most important days of your life. Burnt District stylists will make sure you have the hair and makeup to match the occasion.</p>
</div>

<div class="price-list-center">
  <ul>
    <li>Bridal Hair (includes trial)   160</li>
    <li>Brides Maids Special Occasion Hair   100</li>
    <li>Bridal Makeup (includes trial and faux lashes)   100 </li>
  </ul>
</div>
