
<div class="service-explanation">
  <h3>Make the special day perfect with our expert bridal artists.</h3>
  <p>Your wedding day is one of the most important days of your life. Burnt District stylists will make sure you have the hair and makeup to match the occasion.</p>
</div>

<div class="price-list-center">
  <ul>
    <li>Bridal Hair   90</li>
    <li>Bridal Trial   90</li>
    <li>Special Occasion Hair   55-80</li>
    <li>Bridal Makeup   50</li>
    <li>Bridal Makeup Trial   50</li>
    <li>Specail Occasion Makeup   45</li>
    <li>Faux Lashes   10</li>
  </ul>
</div>
