<h3><em>Burnt District is more than a salon. It is a space for artists and individuals alike to share their creative work and passion with guests. </em></h3>
<p>With a unique and charming location in historic Pioneer Square, there is no better place to host your next creative endeavor. In the past we have hosted tastings, burlesque photo shoots, and more! We welcome the Seattle community to use our space to make your next event a success!</p>

<p>For inquiries and schedule availability, please contact Madison at 206-678-6876.</p>
