<div class="service-explanation well">
  <h3>Burnt District is more than a salon. It is a space for artists and individuals alike to share their creative work and passion with guests.</h3>
  <p>With a unique and charming location in historic Pioneer Square, there is no better place to host your next creative endeavor. In the past we have rented our space for tastings, photo shoots, commercials, music videos and more! We welcome the Seattle community to use our space to make your next event a success!</p>
  <p>For inquiries and schedule availability, ask for Madison. </p>
</div>
