<div class="service-explanation">
  <h3>Burnt District haircuts are inspired by the beautiful people that walk through our doors.</h3>
  <p>All our technicians are Balayage certified. If you do not see the service you would like below, please do not to hesitate to call and ask. We have a talented team and our services menu is always expanding. *Prices may vary by artist</p>
</div>

<div class="price-list-left">
  <h4 class="subheader">Hair Services*</h4>
  <ul>
    <li>Men's Haircut   35</li>
    <li>Beard Trim   10</li>
    <li>Neck Trim   10</li>
    <li>Women's Haircut   55</li>
    <li>Shampoo/Blowout   35</li>
    <li>Bang Trim   10</li>
    <li>Special Occasion Hair   100</li>
    <li>Bridal Hair (includes trial)  160</li>
  </ul>
</div>
<div class="price-list-right">
  <h4 class="subheader">Technical Hair Services*</h4>
  <ul>
    <li>Highlights (Foil/Balayage/Ombre)</li>
    <li>Full   100</li>
    <li>Partial   80</li>
    <li>Color   55</li>
    <li>Gloss   35</li>
  </ul>
  <h4 class="subheader">Hair Treatments</h4>
  <ul>
    <li>Keratin Smoothing Treatment   220</li>
  </ul>
</div>


