<div class="service-explanation">
  <h3>Burnt District haircuts are inspired by the beautiful people that walk through our doors.</h3>
  <p>All our technicians are Balayage certified. If you do not see the service you would like below, please do not to hesitate to call and ask. We have a talented team and our services menu is always expanding.<br> **minimum 24 hour cancellation notice required. </p>
</div>


<div class="price-list-right">
  <h4 class="subheader">Technical Hair Services</h4>
  <ul>
    <li></li>
    <li>Full Balayage   145</li>
    <li>Partial Balayage   120</li>
    <li>Painting the Part   50</li>
    <li>Full Foil   125</li>
    <li>Partial Foil   100</li>
    <li>Sectional Foil   45</li>
    <li>Bleach & Tone   100</li>
    <li>Color   60</li>
    <li>Gloss   40</li>
    <li>Corrective Color   120+</li>
  </ul>

</div>
<div class="price-list-left">
  <h4 class="subheader">Hair Design Services</h4>
  <ul>
    <li>Men's Haircut   35</li>
    <li>Buzz Cut (clipper only)   25</li>
    <li>Women's Haircut   55</li>
    <li>Children's Haircut (0-9 yrs)   25</li>
    <li>Blowout (shampoo & blowdry)   35</li>
    <li>Scalp Massage   15</li>
    <li>Bang Trim/Neck Trim   10</li>
    <li>Special Occasion Hair   80</li>
    <li>Bridal Hair 90</li>
    <li>Bridal Trial 90</li>
  </ul>
  <h4 class="subheader">Hair Treatments</h4>
  <ul>
    <li>Keratin Complex Smoothing Treatment (5 months) 250</li>
    <li>Express Keratin Treatment (6-8 weeks) 150</li>
  </ul>
</div>


