<strong> </strong>
<h1><em>Burnt District haircuts are inspired by the beautiful people that walk through our doors.</em></h1>
&nbsp;

<img class="alignright size-medium wp-image-205" style="font-family: 'Open Sans', sans-serif; font-size: 15px; line-height: 24.296875px; font-style: normal; font-variant: normal;" alt="Burnt District Style " src="http://burntdistrict.com/wp-content/uploads/2012/11/HiRes-Image-of-Hair-Style-Black-and-White-Head-247x300.jpg" width="247" height="300" />
<h3>We understand what works for one person might not work for another. Our artists will work with you to find a style and look that meets your needs. Not only that, we use the latest methods and techniques that are emerging in the hair artistry world. All our technicians are Balayage certified. If you do not see the service you would like below, please do not to hesitate to call and ask. We have a talented team and our services menu is always expanding.</h3>
&nbsp;

&nbsp;

&nbsp;

<strong>          Hair Design Services</strong>

Men's Haircut   35

Beard Trim   10

Neck Trim   10

&nbsp;

Women's Haircut   55<em>      </em>

Shampoo/Blowout   35

Bang Trim   10

Special Occasion Hair   100

Bridal Hair (includes trial)  160

&nbsp;

<strong>          Technical Hair Services</strong>

Highlights (Foil/Balayage/Ombre)

Full   100

Partial   80

&nbsp;

Color   55

Gloss   35

&nbsp;

<strong>          Hair Treatments</strong>

Keratin Smoothing Treatment   220
