<div class="service-explanation">
  <h3>Burnt District haircuts are inspired by the beautiful people that walk through our doors.</h3>
  <p>All our technicians are Balayage certified. If you do not see the service you would like below, please do not to hesitate to call and ask. We have a talented team and our services menu is always expanding. *Prices may vary by artist</p>
</div>


<div class="price-list-right">
  <h4 class="subheader">Technical Hair Services*</h4>
  <ul>
    <li></li>
    <li>Full Balayage 120</li>
    <li>Partial Balayage 100</li>
    <li>Painting the Part 50</li>
    <li>Full Foil  100</li>
    <li>Partial Foil  80</li>
    <li>Sectional Foil 40</li>
    <li>Bleach & Tone  85</li>
    <li>Color 50</li>
    <li>Gloss  35</li>
    <li>Corrective Color 120</li>
  </ul>
  <h4 class="subheader">Hair Treatments</h4>
  <ul>
    <li>Keratin Complex Smoothing Therapy Treatment (2oz. or less)   220</li>
  </ul>
</div>
<div class="price-list-left">
  <h4 class="subheader">Hair Services*</h4>
  <ul>
    <li>Men's Haircut   30</li>
    <li>Buzz Cut (clipper only) 20 </li>
    <li>Women's Haircut 45</li>
    <li>Children's Haircut (0-9 yrs) 25</li>
    <li>Blowout (shampoo & blowdry) 30</li>
    <li>Bang Trim/Neck Trim 10</li>
    <li>Special Occasion Hair   55-80</li>
    <li>Bridal Hair (day of & trial)  180</li>

  </ul>
</div>


