<div class="well row">
  <div class="col-lg-4 col-md-6">
    <div class="list-group">
        <div class="list-group-item">
            <div class="row-picture">
                <%= image_tag("services/eyelash.png", class: "circle") %>
            </div>
            <div class="row-content">
                <div class="least-content">$130</div>
                <h4 class="list-group-item-heading">Lash Extensions</h4>
            </div>
        </div>
        <div class="list-group-separator"></div>
        <div class="list-group-item">
            <div class="row-picture">
                <%= image_tag("services/eyelash-fill.png", class: "circle") %>
            </div>
            <div class="row-content">
                <div class="least-content">$70</div>
                <h4 class="list-group-item-heading">Extensions Fill</h4>
            </div>
        </div>
        <div class="list-group-separator"></div>
        <div class="list-group-item">
            <div class="row-picture">
                <%= image_tag("services/lashes.png", class: "circle") %>
            </div>
            <div class="row-content">
                <div class="least-content">$15</div>
                <h4 class="list-group-item-heading">Faux Lashes</h4>
            </div>
        </div>
    </div>
  </div>
</div>

