

<div class="service-explanation">
    <h3>Self-care doesn't end with a nice hair cut. Spa services are professional and discreet.</h3>
    <p>Estheticians are trained to provide expert service in maintaining your skin. With a variety of services to choose from, you will find the treatment that matches your needs.<br>*Prices may vary by artist <br> **minimum 24 hour cancellation notice required.</p>
</div>
<div class="price-list-left">
  <h4 class="subheader">Above the Neck Waxing</h4>
  <ul>
    <li>Brow Arch   20</li>
    <li>Lip Wax   15</li>
    <li>Lip & Brow  30</li>
    <li>Chin  15</li>
    <li>Cheeks   15</li>
    <li>Jawline   15</li>
    <li>Forehead   15</li>
    <li>Ears   10</li>
  </ul>
  <h4 class="subheader">Upper Body Waxing</h4>
    <ul>
    <li>Nape of  the Neck  20</li>
    <li>Chest   35</li>
    <li>Full Back   35</li>
    <li>Half Back (upper or lower)   20</li>
    <li>Shoulders   20</li>
    <li>Abdomen   25</li>
    <li>Nipple   15</li>
    <li>Lower arms   25</li>
    <li>Full arms   35</li>
    <li>Underarms   20</li>
    <li>Fingers   10</li>
  </ul>
</div>
<div class="price-list-right">
  <h4 class="subheader">Lower Body Waxing</h4>
  <ul>
    <li>Brazilian   65</li>
    <li>Extended Bikini   50</li>
    <li>Bikini Line  35</li>
    <li>Buttocks   30</li>
    <li>Between the Cheeks   20</li>
    <li>Lower legs   35</li>
    <li>Full legs   50</li>
    <li>Toes   10</li>
  </ul>
</div>
<div class="price-list-right">
  <h4 class="subheader">Eyelash Extensions</h4>
  <ul>
    <li>Eyelash Extensions Full   130</li>
    <li>Eyelash Extensions Fill   70</li>

  </ul>
</div>
