<h1><a href="http://burntdistrict.com/wp-content/uploads/2013/04/New-Waxing-e1365035668887.png"><img class="alignright size-full wp-image-324" alt="Spa Services " src="http://burntdistrict.com/wp-content/uploads/2013/04/New-Waxing-e1365035668887.png" width="326" height="508" /></a></h1>
&nbsp;
<h3>Burnt District estheticians are trained to provide expert service in maintaining your skin. With a variety of services to choose from, you will find the treatment that matches your needs.</h3>
<strong> </strong>

&nbsp;

&nbsp;

<strong>Menu of Spa Services</strong>

&nbsp;

<strong>   Upper Body Waxing Services</strong>

Brow Arch   20

Lip   15

Chin  15

Cheeks   15

Jawline   15

Forehead   15

Ears   10

Nostrils   10

Neck   20

Chest   35

Back   35

Shoulders   20

Abdomen   25

Nipple   15

Lower arms   25

Full arms   35

Underarms   20

Fingers   10

<strong> </strong>

<strong>   Lower Body Waxing Services</strong>

Brazilian   65

Extended Bikini   40

Bikini   30

Buttock   30

Between the Cheeks   20

Lower legs   30

Full legs   45

Toes   10

<strong> </strong>
