
<div class="welcome">
    <div class="main-logo">
      <div class="large button success">View Services</div>
      <h1 class="subheader">Burnt District Salon & Spa</h1>
        <%= image_tag("WEB_Group.jpg") %>
    </div>
    <br>
</div>

<address>
  <a href="javascript:launchWS('http://clients.mindbodyonline.com/ws.asp?studioid=38831&stype=-9');" class="large button success">Schedule Online Now</a>
  <h3 class="subheader"> or call: 206.678.6876 </br>for appointments and membership information</h3>
  <iframe width="300" height="300" frameborder="1" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=96+Columbia+Seattle,+WA+98104&amp;aq=&amp;sll=47.613028,-122.342064&amp;sspn=0.242555,0.676346&amp;t=h&amp;ie=UTF8&amp;hq=&amp;hnear=96+Columbia+St,+Seattle,+Washington+98104&amp;ll=47.608825,-122.331305&amp;spn=0.01736,0.025749&amp;z=14&amp;iwloc=A&amp;output=embed"></iframe>
  <br />
  <small><a href="https://www.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=96+Columbia+Seattle,+WA+98104&amp;aq=&amp;sll=47.613028,-122.342064&amp;sspn=0.242555,0.676346&amp;t=h&amp;ie=UTF8&amp;hq=&amp;hnear=96+Columbia+St,+Seattle,+Washington+98104&amp;ll=47.608825,-122.331305&amp;spn=0.01736,0.025749&amp;z=14&amp;iwloc=A" style="color:#0000FF;text-align:left">View Larger Map</a></small>
</address>


