<h1><em>Make the special day perfect with our expert bridal artists.</em></h1>
<a href="http://burntdistrict.com/wp-content/uploads/2013/03/wedding-highres.jpg"><img class="alignright size-medium wp-image-217" alt="Wedding preparation and beauty services" src="http://burntdistrict.com/wp-content/uploads/2013/03/wedding-highres-300x271.jpg" width="300" height="271" /></a>
<h2>Your wedding day is one of the most important days of your life. Burnt District stylists will make sure you have the hair and makeup to match the occasion.</h2>
&nbsp;
<p dir="ltr"></p>
<p dir="ltr">Bridal Hair (includes trial)   160</p>
Brides Maids Special Occasion Hair   100

&nbsp;

Bridal Makeup (includes trial and faux lashes)   100

&nbsp;
