Phone: 206.678.6876

96 Columbia Street
Seattle, WA 98104
<p dir="ltr">We are located on the corner of 1st &amp; Columbia.</p>
<p dir="ltr">Our discrete entrance is just around the corner from (and technically below) Fado Irish Pub. If you see a thai restaurant called Mae Phim… you're here! You just haven't seen us yet.</p>
<p dir="ltr">We have small signage and a gold "96" on our door.</p>
&nbsp;

Hours:
Monday-Friday: 10:00 - 6:00
Closed: Holidays and Weekends

Contact email: appointments (at) burntdistrict (dot) com
