<div id="complete-dialog" class="modal fade" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header row">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <address class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
          <h4 class="modal-title">96 Columbia Street</h4>
          <h4 class="modal-title">Seattle, WA 98104</h4>
        </address>
        <div class="col-lg-5 col-md-5 col-sm-6 col-xs-12">
          <p>
          Hours:<br />
          Monday-Friday: 10:00 - 6:00<br />
          Closed: Holidays and Weekends
          </p>
        </div>
      </div>
      <div class="modal-body">
         <a href="https://www.google.com/maps/place/Burnt+District+Salon+%26+Spa/@47.603283,-122.33513,17z/data=!3m1!4b1!4m2!3m1!1s0x54906ab015d3a017:0xcea7e7e86d66178"><%= image_tag("location.png", class: "map-photo") %></a>
         <p >We are located on the corner of 1st Avenue and Columbia St. Our discrete entrance is just around the corner from (and technically below) Fado Irish Pub.</p>
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary" data-dismiss="modal">Dismiss</button>
      </div>
    </div>
  </div>
</div>
