<br><br><br><br><br>

<h2>Get in Touch</h2>
<p class="secondary">
Phone: <b>206.678.6876</b>
<br>
96 Columbia Street
Seattle, WA 98104
<br>
Contact email: appointments (at) burntdistrict (dot) com
<a href="javascript:launchWS('http://clients.mindbodyonline.com/ws.asp?studioid=38831&stype=-9&sView=week');">Schedule here</a>
</p>
<p class="clearbg">We are located on the corner of 1st.
Our discrete entrance is just around the corner from (and technically below) Fado Irish Pub. If you see a thai restaurant called Mae Phim… you're here! You just haven't seen us yet.
We have small signage and a gold "96" on our door.</p>
<p class="secondary">
Hours:
Monday-Friday: 10:00 - 6:00
Closed: Holidays and Weekends


</p>

