  <h2>the District</h2>
  <a href="http://burntdistrict.com/wp-content/uploads/2012/06/Madison-and-Delilah.jpg">
  <img class="alignright size-medium wp-image-97" alt="Madison and Delilah" src="http://burntdistrict.com/wp-content/uploads/2012/06/Madison-and-Delilah-300x292.jpg" width="300" height="292" /></a><strong>The Burnt District Salon &amp; Spa prides itself on our 3 P’s: Personalized, Professional and Personality.</strong> Our members receive <strong>Personalized</strong> treatment every time they enter 96 Columbia. Our staff and artists are always courteous and <strong>Professional</strong> but not without amazing <strong>Personality</strong>.

  Burnt District is not just a salon and spa. We are also a photography studio, an events venue, an art gallery and above all, a gathering space for our members.
  This members only, private establishment requires exclusive and quality artists to service our exclusive and quality members.
  <div>
  <blockquote>
  <h2><em>                     Giving back is central to our beliefs.   -Madison, Founder</em></h2>
  </blockquote>
  The name Burnt District is a homage to Seattle's history and the Great Fire of Seattle.

  If you research the history of our location you will find they refer to this area as the “burnt district”. On June 6th, 1889, a fire ignited  and eventually wiped out the entire city, 53 city blocks. In spite of the obvious devastation the community came together and began to rebuild Seattle on top of itself (hence the Seattle Underground).

  Within two years, Seattle grew from a few thousand people to forty thousand.

  Our name and our logo was  inspired by this beautiful story.

  “Burnt District” is not about the fire... it's about building community and bringing people together.
  At Burnt District we are artists, philanthropists and active volunteers in our community because giving back is central to our beliefs.

  &nbsp;

  </div>

