<strong> </strong>
<h1><em>Burnt District is more than a salon. It is a space for artists and individuals alike to share their creative work and passion with guests. </em></h1>
<a href="http://burntdistrict.com/wp-content/uploads/2013/03/Events-eps-purple-without-stars-and-circles.png"><img class="alignright size-medium wp-image-225" alt="Event services provided by Burnt District" src="http://burntdistrict.com/wp-content/uploads/2013/03/Events-eps-purple-without-stars-and-circles-278x300.png" width="278" height="300" /></a>
<h2>With a unique and charming location in historic Pioneer Square, there is no better place to host your next creative endeavor.</h2>
&nbsp;

&nbsp;

<em>For inquiries and schedule availability, please contact Madison at 206-678-6876.</em>
