<p class="footer">
Copyright © 2014 Burnt District, All Rights Reserved.
</p>
<p class="footer">
  Website designed and coded by Andrew Shenstone with Rails and Google's Material Design standards.</p>

