<p class="footer">
Copyright © 2013 Burnt District, All Rights Reserved.
</p>
<p class="footer">
  Website designed and coded by Andrew Shenstone with Rails, Foundation, CSS3, JQuery, and your friend HTML5.</p>

