<div class="navbar navbar-default">
  <div class="navbar-header">
    <%= image_tag("logo.png", class: "brand-logo") %>
    <a class="navbar-brand title" href="javascript:void(0)">Salon & Spa</a>

    <a class="navbar-brand" id="onlineSchedule" href="javascript:launchWS('http://clients.mindbodyonline.com/ws.asp?studioid=38831&stype=-9');" data-toggle="tooltip" data-placement="bottom" title="Schedule an appointment online."><i class="mdi-action-today" style="font-size: 25pt;" ></i></a>

    <a class="navbar-brand" id="locationHours" href="javascript:void(0)" data-toggle="modal" data-target="#complete-dialog" title="Location & Hours"><i class="mdi-maps-place" style="font-size: 25pt;"></i></a>

    <a class="navbar-brand" id="emailContact" href="mailto:appointments@burntdistrict.com" data-toggle="tooltip" title="appointments@burntdistrict.com" data-content="Scheduling online is preferred" data-placement="bottom"><i class="mdi-communication-email" style="font-size: 25pt;"></i></a>

    <a class="navbar-brand" id="phoneContact" href="tel:+12066786876" data-toggle="tooltip" title="206-678-6876" data-placement="bottom"><i class="mdi-notification-phone-in-talk" style="font-size: 25pt;"></i></a>

    <a class="navbar-brand" id="textContact" href="sms:+12066786876" data-toggle="tooltip" title="206-678-6876" data-placement="bottom"><i class="mdi-communication-textsms" style="font-size: 25pt;"></i></a>
  </div>
</div>




