<div class="navbar navbar-default">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="javascript:void(0)">BD Salon & Spa</a>
    <a class="navbar-brand" href="javascript:launchWS('http://clients.mindbodyonline.com/ws.asp?studioid=38831&stype=-9');" data-toggle="tooltip" data-placement="bottom" title="Schedule an appointment online."><i class="mdi-action-today" style="font-size: 25pt;" ></i></a>
  </div>
  <div class="navbar-collapse collapse navbar-responsive-collapse">
    <ul class="nav navbar-nav">


    <a class="navbar-brand" href="javascript:void(0)"><i class="mdi-maps-place" style="font-size: 25pt;"></i></a>
    <a class="navbar-brand" href="javascript:void(0)" data-toggle="popover" title="appointments@burntdistrict.com" data-content="Scheduling online is preferred." data-placement="bottom"><i class="mdi-communication-email" style="font-size: 25pt;"></i></a>
   <!--  <a class="navbar-brand" href="javascript:void(0)"><i class="mdi-communication-textsms" style="font-size: 25pt;"></i></a> -->
    <a class="navbar-brand" href="javascript:void(0)" data-toggle="popover" title="206-678-6876" data-content="Scheduling online is preferred." data-placement="bottom"><i class="mdi-notification-phone-in-talk" style="font-size: 25pt;"></i></a>
    </ul>
  </div>
</div>




