<h2>Membership</h2>
<p class="secondary">Burnt District is Seattle's first member's only salon.</p>
<p class="clearbg">Membership allows Burnt District to be more than a salon. It allows for greater flexibility in planning special events and adding in additional perks. Most of all, membership enables Burnt District to be closer to it's clients and create a personalized experience.</p>
<p class="secondary">Becoming a member is easy and free. You simply fill out a form before your service.</p>
<div class="col-lg-6 col-md-6 col-sm-6">
  <h1>Material Design</h1>
  <p class="lead">Based on Google Material design</p>
</div>
<div class="col-lg-6 col-md-6 col-sm-6">
  <div class="well infobox">
      <p><em>Material Design for Bootstrap</em> is a theme for Bootstrap 3 which lets you use the new <a href="http://www.google.com/design/spec/material-design/">Google Material Design</a> in your favorite front-end framework.</p>
      <p>If you like this project you can support me by donating something on Gittip, starring this repository, or <a href="https://github.com/FezVrasta/bootstrap-material-design/issues">reporting bugs and ideas</a>.</p>
      <p>Read more about <em>Material Design for Bootstrap</em> <a href="https://github.com/FezVrasta/bootstrap-material-design">at the Github page</a>.</p>

      <a href="https://github.com/FezVrasta/bootstrap-material-design/archive/master.zip" class="btn btn-sup btn-material-pink btn-raised">
          <img src="demo/imgs/download.png" alt="gittip" height="30">
          <span>DOWNLOAD</span>
      </a>
      <a href="https://www.gittip.com/FezVrasta/" class="btn btn-sup btn-material-brown">
          <img src="demo/imgs/gittip.png" alt="gittip" height="30">
          <span>GITTIP</span>
      </a>
      <a href="https://github.com/FezVrasta/bootstrap-material-design/issues" class="btn btn-sup btn-material-deeppurple">
          <img src="demo/imgs/issue.png" alt="gittip" height="30">
          <span>ISSUES</span>
      </a>
  </div>
</div>
