<div class="well row">
  <div class="list-group">
    <div class="list-group-item col-lg-6 col-md-6">
      <div class="row-picture">
        <%= image_tag("logo.png", class: "circle") %>
      </div>
      <div class="row-content">
        <h4 class="list-group-item-heading">Burnt District is Seattle's first member's only salon.</h4>
        <p class="list-group-item-text">Membership allows Burnt District to be more than a salon.</p>
        <br />
        <p class="list-group-item-text">It allows for greater flexibility in planning special events and adding in additional perks. Most of all, membership enables Burnt District to be closer to it's clients and create a personalized experience.</p>
        <br />
        <p class="list-group-item-text">Becoming a member is easy and free. You simply fill out a form before your service in the salon.</p>
      </div>
      <div class="list-group-separator"></div>
    </div>
  </div>
</div>
