<h2>Membership</h2>
<p class="secondary">Burnt District is Seattle's first member's only salon.</p>
<p class="clearbg">Membership allows Burnt District to be more than a salon. It allows for greater flexibility in planning special events and adding in additional perks. Most of all, membership enables Burnt District to be closer to it's clients and create a personalized experience.</p>
<p class="secondary">Becoming a member is easy and free. You simply fill out a form before your service.</p>
