<h1>Burnt District is Seattle's first member's only salon.</h1>
<h3>Why are you members only?</h3>
Membership allows Burnt District to be much more than a salon. It allows for greater flexibility in planning special events and adding in additional perks. Most of all, membership enables Burnt District to be closer to it's clients and create a personalized experience.
<h3>How do I become a member?</h3>
Becoming a member is easy! Head on down to Burnt District, meet us, and fill out a short form.

<h3>How much does it cost to be a member?</h3>

Membership is free!
