<br><br><br><br><br>
<h2>Membership</h2>
<p class="secondary">Burnt District is Seattle's first member's only salon.</p>
<p class="clearbg">Membership allows Burnt District to be more than a salon. It allows for greater flexibility in planning special events and adding in additional perks. Most of all, membership enables Burnt District to be closer to it's clients and create a personalized experience.</p>
<p class="secondary">Becoming a member is easy! Head on down to Burnt District, meet us, and fill out a short form. Membership is FREE!</p>
