<div id="modal" class="sub-nav" style="display:none">
    <a href="javascript:$.pageslide.close()">Close</a>
    <h2>Salon Services</h2>
    <h3 class="subheader" id="hair">Hair Services</h3>
    <h3 class="subheader" id="spa">Spa Services</h3>
    <h3 class="subheader" id="events">Event Space</h3>
    <h3 class="subheader" id="bridal">Bridal Services</h3>

</div>
