<div style="display:none" id="welcome" class="menu">
  <dl class="sub-nav">
    <dd id="hair"><a href="#">Hair</a></dd>
    <dd id="spa"><a href="#">Spa</a></dd>
    <dd id="events"><a href="#">Events</a></dd>
    <dd id="bridal"><a href="#">Bridal</a></dd>
  </dl>
  <div id="welcome_message" class="info">
    <h2>Seattle's First Member's Only Salon &amp; Spa</h2>

    <h3 class="subheader">Burnt District is not just a Salon and Spa... We are also a photography studio, an art gallery and an events venue.  But above all, we are a gathering space for our members.  This members only, private establishment has merged a high-end salon with a "speakeasy feel".  Come on down and sign up, membership is complimentary!</h3>
  </div>
</div>
<div style="display:none" id="hair_info" class="info">
  <%= render 'hairservices' %>
 </div>
<div style="display:none" id="spa_info" class="info">
   <%= render 'spa_services' %>
</div>
<div style="display:none" id="events_info" class="info">
   <%= render 'event_services' %>
</div>
<div style="display:none" id="bridal_info" class="info">
   <%= render 'bridal_services' %>
</div>



