<ul class="nav nav-tabs">
    <li class="active"><a href="#hair" data-toggle="tab">Hair</a></li>
    <li><a href="#spa" data-toggle="tab">Spa</a></li>
    <li><a href="#staff" data-toggle="tab">Staff</a></li>
    <li><a href="#membership" data-toggle="tab">Membership</a></li>
    <li id="address" data-toggle="modal" data-target="#complete-dialog" title="Location & Hours"><a href="javascript:void(0)">96 Columbia St.</a></li>
</ul>
<div id="myTabContent" class="tab-content">
  <div id="hair" class="info tab-pane fade in active">
    <%= render 'salon/services/hairservices' %>
   </div>
  <div id="spa" class="info tab-pane fade">
     <%= render 'salon/services/spa_services' %>
  </div>
  <div id="staff" class="info tab-pane fade">
    <%= render 'salon/staff' %>
  </div>
  <div id="membership" class="info tab-pane fade">
    <%= render 'salon/membership' %>
  </div>
</div>





