<div id="welcome" class="menu-services">
    <a href="#hair"><li id="hair">Hair</li></a>
    <a href="#spa"><li id="spa">Spa</li></a>
    <a href="events"><li id="events">Events</li></a>
    <a href="bridal"><li id="bridal">Bridal</li></a>

  <div id="welcome_message" class="info">
    <h3>Seattle's First Member's Only Salon &amp; Spa</h3>

    <h3 class="subheader">Burnt District is not just a Salon and Spa... We are a photography studio, art gallery and events venue.  Above all, we are a gathering space for our members.  This members only, private establishment has merged a high-end salon with a "speakeasy feel".  Come on down and sign up, membership is complimentary!</h3>
  </div>
</div>

<div style="display:none" id="hair_info" class="info">
  <%= render 'salon/services/hairservices' %>
 </div>
<div style="display:none" id="spa_info" class="info">
   <%= render 'salon/services/spa_services' %>
</div>
<div style="display:none" id="events_info" class="info">
   <%= render 'salon/services/event_services' %>
</div>
<div style="display:none" id="bridal_info" class="info">
   <%= render 'salon/services/bridal_services' %>
</div>



