<ul class="nav nav-tabs">
    <li class="active"><a href="#hair" data-toggle="tab">Hair</a></li>
    <li><a href="#spa" data-toggle="tab">Spa</a></li>
</ul>
<div id="myTabContent" class="tab-content">
  <div id="hair" class="info tab-pane fade in active">
    <%= render 'salon/services/hairservices' %>
   </div>
  <div id="spa" class="info tab-pane fade">
     <%= render 'salon/services/spa_services' %>
  </div>
</div>





