<header class="header">
  <%= render "header" %>
  <%= render "contact" %>
</header>
<div class="col-xs-12 group-photo">
</div>

<section class ="services" id="services_section">
  <div id="services_scroll">
  <%= render "services" %>
  </div>
</section>

<footer class="footer jumbotron" id="footer_section">
  <div id="footerbackground">
    <%= render "footer" %>
  </div>
</footer>
