  <h2 <!-- style="text-align: center;" -->>Seattle's First</h2>
  <h2 <!-- style="text-align: center; -->">Members Only Salon &amp; Spa</h2>
  <p style="text-align: left;"><em><strong>Burnt District is not just a Salon and Spa... We are also a photography studio, an art gallery and an events venue.   But above all, we are a gathering space for our members.  </strong></em><em><strong>This members only, private establishment has merged a high-end salon with a "speakeasy feel".  Come down and sign up, membership is </strong></em><b><i>complimentary!</i></b></p>
